{% extends "base.html" %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/addParticipants.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}

<h1 class="title text-center pb-5">Upcoming Interested Events</h1>

<table class="table">

  {% if upcomingEvents|length > 0 %}
    <thead class="tableHeader">
      <th scope="col"><h4><strong>Program</strong></h4>
      <th scope="col"><h4><strong>Event Name</strong></h4>
      <th scope="col"><h4><strong>Start Date</strong></h4>
      <th scope="col"><h4><strong>End Date</strong></h4>
      <th scope="col"><h4><strong></strong></h4>
    </thead>
    {% for event in upcomingEvents %}
    <tr>
      <td>{{event.singleProgram.programName if event.singleProgram else '--'}}</td>
      <td>{{event.eventName}}</td>
      <td>{{event.startDate}}</td>
      <td>{{event.endDate}}</td>
      <td>
        <button class="btn {{ 'btn-secondary disabled' if event.id in participantUser else 'btn-primary' }}">RSVP</button>
      </td>
    </tr>
    {% endfor %}
  {% else %}
    <h2> Please be more interesting <h2>
    <button class="btn btn-primary">
      Select Interests to Programs
    </button>
      <!-- FIXME: There should be a link here to where they can select interests to programs -->
  {% endif %}

</table>

{% endblock %}
